<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="index.html">Management of Product</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
          <ul class="navbar-nav m-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/produit">Produit </a>
              </li>
          </ul>

          <div class="form-inline my-2 my-lg-0">
              <div class="input-group input-group-sm">
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-secondary btn-number">
                          <i class="fa fa-search"></i>
                      </button>
                  </div>
              </div>
             
            </div>
      </div>
  </div>
</nav>
<br><br>
<div class="container">
        <h2><i class="fa fa-product-hunt"></i> Produit :</h2>
        <br>
        <div class="row">
          <div class="col-4">
            <form [formGroup]="addForm">

               <div class="form-group">
                    <label> <strong>File</strong></label>
                    
                    <input type="file" ng2FileSelect [uploader]="uploader" formControlName="file">
                   
                  </div>
                  

              <div class="form-group">
                <label> <strong>Name</strong></label>
                <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp"
                  placeholder="name">
              </div>
      
              <div class="form-group">
                <label><strong>Description</strong></label>
                <input type="text" class="form-control" formControlName="description" placeholder="content">
              </div>
              <div class="form-group">
                <label><strong>Price</strong></label>
                <input type="text" class="form-control" formControlName="price" placeholder="price">
              </div>
              
              <!-- <div class="form-group">
                <label><strong>Categorie</strong></label>
                <input type="text" class="form-control" formControlName="category" placeholder="categorie">
              </div> -->
              
             
              <div class="form-group">
                <label >Categorie</label>
                <select class="form-control" formControlName="category">
                  <option *ngFor="let cat of categorie">{{cat.title}}</option>
                  
                </select>
              </div>  
      
              <input type="submit" value="Submit" (click)="produitBtn()" class="btn btn-primary ">
              <div class="clearfix"></div>
            </form>
          </div>
      
        </div>
      </div>
<br><br>
<div class="container">
  <div class="row">
      
      <div class="col">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-4" *ngFor="let prod of produit">
                  <div class="card" >
                      <img class="card-img-top" src="{{prod.file}}" alt="Card image cap" style="height:200px; width:320px;" >
                      <div class="card-body">
                          <h4 class="card-title"><a href="#" title="View Product">{{prod.name}}</a></h4>
                          <p class="card-text">{{prod.description}}</p>
                          <h4  class="card-text">{{prod.category}}</h4>
                          
                          <div class="row">
                                <div class="col">
                                        <p class="btn btn-info btn-block">{{prod.price}}$</p>
                                    </div>

                                <div class="col">
                                        <button class="btn btn-danger" (click)="deleteBtn(prod._id)"><i class="fa fa-trash"></i></button>
                                        &nbsp; &nbsp;
                                          <button class="btn btn-success" (click)="updateProduit = prod"><i class="fa fa-upload"></i></button>     
                                    </div>
                              
                                  
                              
                          </div>
                      </div>
                  </div>
              </div>
              
              
          </div>
      </div>

  </div>
</div>

<div class="container">
        <div class="control-group" *ngIf="updateProduit">
          <label class="control-label">Name</label>
          <div class="controls">
            <div class="row-fluid">
              <div class="form-group">
                <input type="text" [(ngModel)]="updateProduit.name" class="form-control">
              </div>

            </div>
          </div>
          <label class="control-label">Description</label>
          <div class="controls">
            <div class="row-fluid">
              <div class="form-group">
                <input type="text" [(ngModel)]="updateProduit.description" class="form-control">
              </div>

            </div>
          </div>

          <label class="control-label">Price</label>
          <div class="controls">
            <div class="row-fluid">
              <div class="form-group">
                <input type="text" [(ngModel)]="updateProduit.price" class="form-control">
              </div>

            </div>
          </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Categorie</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="updateProduit.category">
                <option *ngFor="let cat of categorie">{{cat.title}}</option>
                
              </select>
            </div> 

          <input type="submit" value="update" (click)="updateBtn()" class="btn btn-success pull-right">
          <div class="clearfix"></div>
        </div>
      </div>

